body{
    background-color: #cfd2d4;
}

.box-model{
  margin: 5px;
  border: 5px;
  padding-left: 18%;
  padding-right: 18%;
  position: center;

}

.content
{
    background-color: #f6f9fb;
}

/*Fuentes*/
@font-face {
    font-family: "Cabin";
    src: url("https://fonts.googleapis.com/css?family=Cabin&display=swap");
    
  }

  @import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

  @font-face {
    font-family: "Roboto";
    src: url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
    
  }

  @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.navigation{
    background-color: #0484d3;
}

.letter1{
    font-family: 'Cabin', sans-serif;
    color: black !important;
    font-size: large;
}

.information{
    text-align: center;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    color: black;
    padding-bottom: 30px;
}

.btnlogin{
    padding-left: 15px;
}

.logo{
    width:180px;
    height:80px; 
}

.formath1{
    font-family: 'Cabin', sans-serif;
    margin:5px;
    border:5px;
    padding-left:50px;
    padding-right: 50px;
    padding-top: 20px;
}

.formath2{
    font-family: 'Cabin', sans-serif;
    margin:5px;
    border:5px;
    padding-left:50px;
    padding-right: 50px;
    padding-top: 20px;
}

h1{
    font-family:'Cabin', sans-serif;
    text-align: justify;
    font-size: x-large;
}

.format1{
    margin:5px;
    border:5px;
    padding-left: 200px;
    padding-top: 10px;
    display: flex;
}

.format2{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 300px;
    padding-bottom: 30px;
}

.ventatd{
    padding: 20px;
    padding-bottom: 100px;
    background-color: #d9eaf5;
    font-size: large;
}

.ventaT{
    padding: 20px;
    background-color: #f6f9fb;
    width: 50%;
}

.ventaT2{
    padding: 20px;
    background-color: #f6f9fb;
    width:300px;
}

.right{
   padding-right: 30px;
}

.ventatd2{
    padding: 5px;
    background-color: white;
    font-size: large;
}

.marca{
    width: 60px;
    height: 50px;
}

.marcaspace{
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.img{
    width:300px;
    height:300px; 
}

.btnbuy{
    width:250px;
    height: 50px;
    padding-left: 30px;
}

.detalles{
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    border-spacing:0px 50px;
    width: 50%;
  }
  
.detalles td {
    border: 1px dotted rgb(36, 36, 36);
    text-align: left;
    padding: 8px;
  }
  
 .detalles th {
    border: 1px dotted rgb(36, 36, 36);
    background-color: #dddddd;
    padding: 8px
  }

  /*Footer*/
.imgfooter{
    max-width: 170px;
    max-height: 50px;
  }
  
  .footer {
    display: block;
    width: auto;
    background-color:#0484d3;
    color: #f6f9fb;
    text-align: center;
    padding: 10px;
    opacity: 0.6;
}
  
  /* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 10px;}
  }

  @media only screen and (max-device-width: 900px){
    .box-model{
        margin: 5px;
        border: 5px;
        padding-left: 1%;
        padding-right: 1%;
        position: center;
      }
    
     .logo{
        width:100px;
        height:50px; 
    }

    .dashboard{
      margin:1px;
      padding: 5px;
      border:1px;
    }

    td{
      border: 1px solid silver;
      padding: 5px;
      width: 20%;
      background-color: white;
    }
    
    th{
      border: 1px solid silver;
      background-color: #0c7b93;
      padding-left: 5px;
    }
    
    table{
      border: 1px solid silver;
    }
}

